doctype html
html
    head
        meta(chartset = 'utf-8')

    body
        form(action = '/upload/product' method = 'post' enctype = "multipart/form-data")
            input(type = 'file' name = 'product')
            input(type = 'file' name = 'product')
            input(type = 'file' name = 'product')
            input(type = 'file' name = 'product')
            input(type = 'file' name = 'product')
            input(type = 'file' name = 'product')
            input(type = 'file' name = 'product')
            input(type = 'file' name = 'product')
            input(type = 'file' name = 'product')
            input(type = 'submit')

